version: "2"
services:
  client:
    build: ./client
    build:
      context: ./client
      dockerfile: Dockerfile.ng
    volumes:
      - ./client:/client
      - /client/node_modules
    ports:
      - "4200:4200"
    links:
      - api
  api:
    volumes:
      - /api/node_modules
    environment:
      ENV: development
      DEBUG: "login:server"
    links:
      - mongo
    command: npm run watch
  mongo:
    volumes_from:
      - mongodata
  mongodata:
    image: tianon/true
    volumes:
      - /data/db
    # command: echo 'Data Container for Auth_MongoDB'
