<div class="container login-form">
  <div class="mt-3">
    <h1>Register</h1>
  </div>
  <form (ngSubmit)="submit()">
    <div class="form-group row">
      <label for="email" class="col-3 col-form-label">Email</label>
      <div class="col">
        <input type="text" id="email" class="form-control" placeholder="Enter your email" [(ngModel)]="model.email" name="email">
      </div>
    </div>

    <div class="form-group row">
      <label for="password" class="col-3 col-form-label">Password</label>
      <div class="col">
        <input type="password" id="password" class="form-control" placeholder="Enter a password" [(ngModel)]="model.password" name="password">
      </div>
    </div>

    <div class="form-group row">
      <button class="btn btn-md btn-primary btn-block" type="submit">Register</button>
    </div>

    <br/>
    <div [hidden]="hideError" class="alert alert-danger">
        Failed to log in.
        <button type="button" class="close" (click)="closeError()">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
  </form>
</div>
